.header{
    .header-container{
        margin: 0 10%;
        display: flex;
        .header-brand{
            display: flex;
            .twitter-logo{
                .twitterLogo{
                    fill: #1d9bf0;
                }
            }
            .brand-texts{
                h3{

                }
            }
        }
    }
}