.landing{
    margin: 0 10%;
    padding-top: 3rem;
    .landingtitle{
        font-weight: 700;
        margin: 1.5rem 0 0.5rem;
        padding: 0.5em 0 0.25em;
        line-height: 1;
        font-size: 2.25rem;
    }
    .landingtexts{
        font-style: italic;
    }
    .landingform{
        display: flex;
        align-items: flex-end;
        margin: 20px 0;
        width: 80%;
        .form-group{
            width: 50%;
            margin-right: 20px;
            .landingtweetinput{
                padding: 20px 10px;
                border-radius: 6px;
                border: none;
                background-color: #e5e3ff;
                margin-top: 1rem;
                margin-right: 20px;
                width: calc(100% - 20px);
            }
        }
        .lsubmitBtn{
            padding: 20px !important;
            background-color: #1D9BF0;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            color: #e5e3ff;
            font-weight: 700;
        }
    }
}